<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nfcat.cloud.sql.mapper.NfFilesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nfcat.cloud.sql.entity.NfFiles">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="fid" property="fid" />
        <result column="name" property="name" />
        <result column="path" property="path" />
        <result column="name_md5" property="nameMd5" />
        <result column="md5" property="md5" />
        <result column="location" property="location" />
        <result column="size" property="size" />
        <result column="type" property="type" />
        <result column="create_time" property="createTime" />
        <result column="status" property="status" />
        <result column="info" property="info" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, fid, name, path, name_md5, md5, location, size, type, create_time, status, info
    </sql>

</mapper>
